
@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Modak&display=swap');

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: center;
    background-color: #cfeaaf;
    font-size: 26pt;
    color: #333333;
}

.hero-container {
  margin-top: 2cm;
  font-family: 'Erica One', cursive;
}

.page-title {
  /* margin-bottom: -1cm; */
  z-index: 50;
}

.villain-name-background {
  background-color: white;
  border-radius: 0.5cm;
}

.villain-name {
  margin: 0.5cm;
  padding: 0.5cm;
  font-size: 42pt;
  text-shadow: 2px 2px 2px lightgray;
}

.center {
  text-align: center;
}

.tilt {
  transform: rotate(-2deg);
}

h1 {
  font-weight: normal;
  margin: 0;
  text-shadow: 4px 4px 4px gray;
}

.prominent {
  font-size: 130%;
  margin-right: 0.5em;
}

a {
  color: #333333;
  transition: transform .1s;
  display: inline-block;
}

a:active {
  color: deeppink;
  transform: translate(0, 0.2em);
}

.footer {
  font-size: 80%;
  text-align: right;
}
